
<html>
<body style = "font-family:Calibri;">
<style>
    .bottomleft {
  position: absolute;
  bottom: 8px;
  left: 5px;
  font-size: 18px;
}
.bottomright {
position: absolute;
bottom: 0px;
right: 8px;
font-size: 18px;
}
</style>
<h1> <a href="http://127.0.0.1:5000/">Huduk </a> </h1>
<h2> About Page</h2><br><br>
<p>Data Scrapping based Stock Analysis.</p>
<p>This Project <b>"Huduk"</b> is made by <a href="https://www.facebook.com/profile.php?id=100008202574581">Utkarsh Jaiswal</a> under guidance of <a href="https://www.facebook.com/developerngamer">Zaid Kamil</a> sir at <a href="http://www.digipodium.com/">Digipodium</a> in Python, I would also like to thank <a href="https://www.facebook.com/anuragnigam4095">Anurag Nigam</a> for his Stock Analysis Project idea. I would like to credit Yahoo! Finance for data. <br> <br> <br> <b>THANK YOU, ENJOY Huduk </b></p>
<div class="bottomright"><p>Made with ❤️ in INDIA.</p></div>
<div class="bottomleft"><img src ="/static/python.jpg" alt="Python Powered."/></div>
</body>
</html>